{{ if or .IsTranslated (.OutputFormats.Get "rss") }}
<ul class="languages inline-list">
  {{ with .OutputFormats.Get "rss" }}
  <li class="active"><a href="{{ .Permalink | relURL | absLangURL }}" title="{{ i18n "subscribeRSS" }}">{{ "label.subscribe" | i18n }} <i class="fa fa-rss"></i></a></li>
  {{ end }}
  {{ $translations := .Translations }}
  {{ range $.Site.Languages }}
    {{ if ne .Lang $.Site.Language.Lang }}
      {{ $lang := .Lang }}
      {{ range where $translations "Lang" .Lang }}
  <li><a href="{{ .RelPermalink }}" title="{{ i18n "thisPageIsTranslated" }}">{{ $lang | i18n }} <i class="fa fa-arrow-circle-o-right"></i></a></li>
      {{ end }}
    {{ end }}
  {{ end }}
</ul>
{{ end }}
