<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ "/js/vendor/jquery-1.9.1.min.js" | relURL }}"><\/script>')</script>
<script src="{{ "/js/scripts.min.js" | relURL }}"></script>

{{ if ne .Params.share false }}
<figure id="qrcode-popup" class="white-popup mfp-hide">
  {{ if eq .Lang "zh" }}
  <div id="qrcode">生成中...</div>
  <figcaption class="mfp-title">
    <p>微信扫一扫：分享<p>
    <p>微信里点“发现”，扫一下</p><p>二维码便可将本文分享至朋友圈。</p>
  </figcaption>
  {{ else }}
  <div id="qrcode">Generating...</div>
  <figcaption class="mfp-title">
    <p>Scan QR to open it in your mobile phone</p>
  </figcaption>
  {{ end }}
</figure>
<script src="{{ "/js/qrcode.min.js" | relURL }}"></script>
<script>
var qrcodeGenerated = false;
$('.qrcode a').magnificPopup({
  type: 'inline',
  callbacks: {
    elementParse: function() {
      if (!qrcodeGenerated) {
        var $qrcode = $('#qrcode');
        $qrcode.parent().width(256).height(256).css({margin: '0 auto'});
        new QRCode($qrcode[0], window.location.href);
        qrcodeGenerated = true;
      }
    }
  }
});
</script>
{{ end }}

{{ if eq .Params.math true }}
{{ partial "math.html" . }}
{{ end }}

{{ if eq .Params.hljs true }}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
{{ with .Params.hljsLanguages }}
  {{ range . }}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/{{ . }}.min.js"></script>
  {{ end }}
{{ end }}
<script>hljs.initHighlightingOnLoad();</script>
{{ end }}

